<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body>
<nav>
<div class="nav">
  <a class="active"                href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
</nav>
<div class ="rollar">
</div>
</body>
<div class="grid-box">
  <div class="grid-item">
    one
  </div>
  <div class="grid-item">
    two
  </div>
  <div class="grid-item">
    three
  </div>
</div>
</html>
